<ngx-spinner type = "ball-spin" color = "#fff" bdColor = "rgba(0,0,0,0.4)" size = "default" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="content-wrapper">
    <div class="container-fluid pb-0">
       <div class="top-category section-padding mb-2">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                    <h6 class="font-bold-600 font-16 mt-2">Upload details</h6>
                 </div>
             </div>
          </div>
       </div>
        <div class="row pb-5">
            <div class="col-md-12">
                <form #contestForm="ngForm" (ngSubmit)="contestForm.form.valid && submit(contestForm)">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="videoTitle">Video title</label>
                                <input required [(ngModel)]="videoTitle" minlength="5" maxlength="100" name="videoTitle" type="text" #videoTitleRef="ngModel" class="form-control">
                                <div class="alert alert-danger" *ngIf="(videoTitleRef.touched || contestForm.submitted) && !videoTitleRef.valid">
                                    <div *ngIf="videoTitleRef.errors.required">Video title is required.</div>
                                    <div *ngIf="videoTitleRef.errors.minlength">Video title must be of at least 5 characters.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select required [(ngModel)]="type" type="text" #typeRef="ngModel" class="form-control" name="type">
                                    <option value="">-Select Type-</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="(typeRef.touched || contestForm.submitted) && !typeRef.valid">
                                    <div *ngIf="typeRef.errors.required">Type is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="videoLink">Youtube video link</label>
                                <input required [(ngModel)]="videoLink" #videoLinkRef="ngModel" pattern="^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$" name="videoLink" id="videoLink" type="text" class="form-control">
                                <div class="alert alert-danger" *ngIf="(videoLinkRef.touched || contestForm.submitted) && !videoLinkRef.valid">
                                    <div *ngIf="videoLinkRef.errors.required">Youtube video link is required</div>
                                    <div *ngIf="videoLinkRef.errors.pattern">Youtube video link is not valid</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="videoPrice > 0" style="color: #000; font-size:13px;">{{public_side_contest_prize}} SNAFU tokens are required to upload video</p>
                    <p>
                        <a routerLink="/user/contestDetails/{{contestId}}" style="font-size:14px" class="pl-2 pr-2" type="submit">Cancel</a>
                        <button class="btn btn-outline-primary ml-4 pl-5 pr-5" type="submit">Create</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
 </div>