<div id="content-wrapper">
    <div class="container-fluid pb-0">
       <div class="top-category section-padding mb-4">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                    <div class="btn-group float-right right-action">
                       <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                       </a>
                       <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                          <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                       </div>
                    </div>
                    <h4 class="font-weight-bold mt-2">Topics Pool</h4>
                 </div>
             </div>
          </div>
       </div>

       <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12 pr-0">
               <owl-carousel  [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let img of images">
                     <div class="video-card">
                        <div class="video-card-image">
                           <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                           <a href="#"><img class="img-fluid" [src]="img" alt=""></a>
                           <div class="time">3:50</div>
                        </div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view pt-3">
                              1.8M views &nbsp;&nbsp;&nbsp; Upvotes: 2k
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
            </div>
         </div>

         <div class="row mt-4">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                     </div>
                  </div>
                  <h6 class="font-weight-bold">Intermediate Videos</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel  [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let img of images">
                     <div class="video-card">
                        <div class="video-card-image">
                           <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                           <a href="#"><img class="img-fluid" [src]="img" alt=""></a>
                           <div class="time">3:50</div>
                        </div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view pt-3">
                              1.8M views &nbsp;&nbsp;&nbsp; Upvotes: 2k
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
            </div>
         </div>

         <hr class="mt-4 mb-4">

         <div class="row mt-4">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                     </div>
                  </div>
                  <h6 class="font-weight-bold">Beginner Videos</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel  [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let img of images">
                     <div class="video-card">
                        <div class="video-card-image">
                           <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                           <a href="#"><img class="img-fluid" [src]="img" alt=""></a>
                           <div class="time">3:50</div>
                        </div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view pt-3">
                              1.8M views &nbsp;&nbsp;&nbsp; Upvotes: 2k
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
            </div>
         </div>
       </div>

       <hr class="mt-4 mb-4">
       <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12">
               <div class="main-title">
                  <h6 class="font-weight-bold">Upcoming Contets</h6>
               </div>
               <div class="row upcoming pb-5">
                  <div class="col-sm-4 col-md-3 pr-4">
                     <div class="video-card">
                        <div class="video-card-body">
                           <div class="video-title pl-2">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view">
                              Aug 31 - Sep 5
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 col-md-3 pr-4">
                     <div class="video-card">
                        <div class="video-card-body">
                           <div class="video-title pl-2">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view">
                              Aug 31 - Sep 5
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 col-md-3 pr-4">
                     <div class="video-card">
                        <div class="video-card-body">
                           <div class="video-title pl-2">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view">
                              Aug 31 - Sep 5
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 col-md-3 pr-4">
                     <div class="video-card">
                        <div class="video-card-body">
                           <div class="video-title pl-2">
                              <a href="#">There are many variations of passages of Lorem</a>
                           </div>
                           <div class="video-view">
                              Aug 31 - Sep 5
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
       </div>
    </div>
 </div>