.custom-label {
    font-size:15px;
    color: #fff;
}

.custom-control p {
    font-size:12px;
}

.fa.fa-circle {
    color: #4eda92;
    font-size:9px;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #4eda92;
    cursor: not-allowed;
}