.upcoming a {
    font-size:13px;
    height: 80px;
}
.upcoming .video-title {
    min-height: 90px;
    text-align: center;
    padding-top: 10px;
}
.upcoming .video-view {
    font-size:13px;
    text-align: center;
}
.upcoming .video-card {
    min-height: 160px;
    cursor: pointer;
}
.upcoming .col-sm-4.col-md-3 {
    display:none;
}
.upcoming .col-sm-4.col-md-3:nth-child(-n+4) {
    display:inline-block;
}
a.createLink {
    cursor: pointer;
}