<div id="content-wrapper">
    <div class="container-fluid pb-0">
        <div class="top-category section-padding mb-4">
            <div class="row">
               <div class="col-md-12">
                  <div class="main-title">
                      <div class="btn-group float-right right-action">
                        <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                        </div>
                      </div>
                      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button">
                                <i class="fas fa-search"></i> 
                                </button>
                            </div>
                            </div>
                        </form>
                   </div>
               </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-8">
                   <div class="main-title">
                      <p class="font-weight-bold mb-0" style="color: #000">0xBeBE1538eb2b61C2CF6bCe309b7649435DdB57F2</p>
                      <p style="font-size:10px;color:#ACACAC">Jon</p>
                   </div>
                </div>
                <div class="col-md-4 pt-1 text-right">
                        <button class="btn btn-outline-primary">View Profile</button>
                </div>
             </div>
             <hr class="mt-4 mb-4">
             <div class="row mt-4">
                <div class="col-md-8">
                   <div class="main-title">
                      <p class="font-weight-bold mb-0" style="color: #000">0xBeBE1538eb2b61C2CF6bCe309b7649435DdB57F2</p>
                      <p style="font-size:10px;color:#ACACAC">Jon</p>
                   </div>
                </div>
                <div class="col-md-4 pt-1 text-right">
                        <button class="btn btn-outline-primary">View Profile</button>
                </div>
             </div>
             <hr class="mt-4 mb-4">
             <div class="row mt-4">
                <div class="col-md-8">
                   <div class="main-title">
                      <p class="font-weight-bold mb-0" style="color: #000">0xBeBE1538eb2b61C2CF6bCe309b7649435DdB57F2</p>
                      <p style="font-size:10px;color:#ACACAC">Jon</p>
                   </div>
                </div>
                <div class="col-md-4 pt-1 text-right">
                        <button class="btn btn-outline-primary">View Profile</button>
                </div>
             </div>
             <hr class="mt-4 mb-4">
        </div>
    </div>
 </div>