<ngx-spinner type = "ball-spin" color = "#fff" bdColor = "rgba(0,0,0,0.4)" size = "default" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="content-wrapper">
    <div class="container-fluid pb-0">
        <div class="top-category section-padding mb-4">
            <div class="main-title">
                <h2 class="font-bold-600 pt-2 pb-5 text-center">How To Sanfu!</h2>
             </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="video-card-image text-center" [innerHtml]="url"></div>
                </div>
            </div>
        </div>
    </div>
</div>