<ul class="sidebar navbar-nav" *ngIf="role == 'user'">
    <li class="nav-item" [ngClass]="{'active' : url == '/user/home'}">
       <a class="nav-link" routerLink="/user/home">
       <img height="20" src="assets/images/default/home.png" />
       <span>Home</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/topicsPool'}">
       <a class="nav-link" routerLink="/user/topicsPool">
         <img height="20" src="assets/images/default/topic.png" />
       <span>Topics Pool</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/contests'}">
      <a class="nav-link" routerLink="/user/contests">
        <img height="20" src="assets/images/default/contest.png" />
      <span>Side Contests</span>
      </a>
   </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/suggestTopic'}">
       <a class="nav-link" routerLink="/user/suggestTopic">
         <img height="22" src="assets/images/default/suggest.png" />
       <span>Suggest a Topic</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/contestHistory'}">
       <a class="nav-link" routerLink="/user/contestHistory">
         <img height="22" src="assets/images/default/contest.png" />
       <span>Contest History</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/howto'}">
      <a class="nav-link" routerLink="/user/howto">
        <i class="fa fa-film" style="font-size: 1.3em" aria-hidden="true"></i>
      <span>How To Snafu!</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/user/teams'}">
      <a class="nav-link" routerLink="/user/teams">
        <i class="fa fa-users" style="font-size: 1.3em" aria-hidden="true"></i>
      <span>Our Team</span>
      </a>
    </li>
    <!-- <li class="nav-item" [ngClass]="{'active' : url == '/user/contact'}">
      <a class="nav-link" routerLink="/user/contact">
        <i class="fa fa-envelope" style="font-size: 1.3em" aria-hidden="true"></i>
      <span>Contact Us</span>
      </a>
    </li> -->
    <li class="nav-item" [ngClass]="{'active' : url == '/user/myAccount'}">
       <a class="nav-link" routerLink="/user/myAccount">
         <img height="20" src="assets/images/default/account.png" />
       <span>My account</span>
       </a>
    </li>
</ul>

<ul class="sidebar navbar-nav" *ngIf="role == 'admin'">
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/home'}">
     <a class="nav-link" routerLink="/admin/home">
     <img height="20" src="assets/images/default/home.png" />
     <span>Home</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/topicsPool'}">
     <a class="nav-link" routerLink="/admin/topicsPool">
       <img height="20" src="assets/images/default/topic.png" />
     <span>Topics Pool</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/contestHistory'}">
     <a class="nav-link" routerLink="/admin/contestHistory">
       <img height="22" src="assets/images/default/contest.png" />
     <span>Contest History</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/users'}">
     <a class="nav-link" routerLink="/admin/users">
       <img height="20" src="assets/images/default/users.png" />
     <span>Users</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/howto'}">
    <a class="nav-link" routerLink="/admin/howto">
      <i class="fa fa-film" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>How To Snafu!</span>
    </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/teams'}">
    <a class="nav-link" routerLink="/admin/teams">
      <i class="fa fa-users" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>Our Team!</span>
    </a>
  </li>
  <!-- <li class="nav-item" [ngClass]="{'active' : url == '/admin/contact'}">
    <a class="nav-link" routerLink="/admin/contact">
      <i class="fa fa-envelope" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>Contact Us</span>
    </a>
  </li> -->
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/myAccount' || url == '/user/myAccount'}">
     <a class="nav-link" routerLink="/admin/myAccount">
       <img height="20" src="assets/images/default/account.png" />
     <span>My account</span>
     </a>
  </li>
</ul>

<ul class="sidebar navbar-nav" *ngIf="role == 'guest'">
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/home'}">
     <a class="nav-link" routerLink="/admin/home">
     <img height="20" src="assets/images/default/home.png" />
     <span>Home</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/topicsPool'}">
     <a class="nav-link" routerLink="/admin/topicsPool">
       <img height="20" src="assets/images/default/topic.png" />
     <span>Topics Pool</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/contestHistory'}">
     <a class="nav-link" routerLink="/admin/contestHistory">
       <img height="22" src="assets/images/default/contest.png" />
     <span>Contest History</span>
     </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/howto'}">
    <a class="nav-link" routerLink="/admin/howto">
      <i class="fa fa-film" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>How To Snafu!</span>
    </a>
  </li>
  <li class="nav-item" [ngClass]="{'active' : url == '/admin/teams'}">
    <a class="nav-link" routerLink="/admin/teams">
      <i class="fa fa-users" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>Our Team</span>
    </a>
  </li>
  <!-- <li class="nav-item" [ngClass]="{'active' : url == '/admin/contact'}">
    <a class="nav-link" routerLink="/admin/contact">
      <i class="fa fa-envelope" style="font-size: 1.3em" aria-hidden="true"></i>
    <span>Contact Us</span>
    </a>
  </li> -->
</ul>