<ul class="sidebar navbar-nav">
    <li class="nav-item" [ngClass]="{'active' : url == '/admin/home'}">
       <a class="nav-link" routerLink="/home">
       <i class="fas fa-fw fa-home"></i>
       <span>Home</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/admin/topicsPool'}">
       <a class="nav-link" routerLink="/topicsPool">
       <i class="fas fa-fw fa-users"></i>
       <span>Topics Pool</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/admin/contentHistory'}">
       <a class="nav-link" routerLink="/contentHistory">
       <i class="fas fa-fw fa-user-alt"></i>
       <span>Cotent History</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/admin/users'}">
       <a class="nav-link" routerLink="/users">
       <i class="fas fa-fw fa-video"></i>
       <span>Users</span>
       </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : url == '/admin/myAccount'}">
       <a class="nav-link" routerLink="/myAccount">
       <i class="fas fa-fw fa-cloud-upload-alt"></i>
       <span>My account</span>
       </a>
    </li>
</ul>