<ngx-spinner type = "ball-spin" color = "#fff" bdColor = "rgba(0,0,0,0.4)" size = "default" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="content-wrapper">
    <div class="container-fluid pb-0">
        <div class="top-category section-padding mb-4">
            <div class="main-title mt-5">
                <h2 class="font-bold-600 pt-2 pb-5 text-center">Our Team</h2>
            </div>
            <div class="row contactIcons mb-5">
                <div class="col-md-4 text-center">
                    <a target="_BLANK" href="https://www.linkedin.com/in/troy-kimberlin-5691411b4/">
                        <img width="200" src="assets/images/default/troy.jpg">
                        <p style="font-size: 14px;" class="mt-4">Troy Kimberlin (Director)</p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a target="_BLANK" href="https://www.linkedin.com/in/nikiiwasaki/">
                        <img width="200" src="assets/images/default/niki.jpg">
                        <p style="font-size: 14px;" class="mt-4">Niki Iwasaki (Co-Director)</p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a target="_BLANK" href="https://twitter.com/timlodge8">
                        <img width="200" src="assets/images/default/tim.jpg">
                        <p style="font-size: 14px;" class="mt-4">Tim (Head of Oceania Community Development)</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>