<ngx-spinner type = "ball-spin" color = "#fff" bdColor = "rgba(0,0,0,0.4)" size = "default" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="content-wrapper">
    <div class="container-fluid pb-0">
       <div class="top-category section-padding mb-4">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <p style="color: #333" class="font-bold-400 font-16">Contest Topic of the Week</p>
                   <p style="color: #000" *ngIf="ContestData != null" class="font-bold-600 font-20 mt-3">{{ContestData.name}}</p>
                </div>
             </div>
          </div>
       </div>
       <hr class="mt-4 mb-4">
       <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="getExpertVideos('vote')">Top Voted</a>
                        <a class="dropdown-item" (click)="getExpertVideos('hot')">Hottest</a>
                        <a class="dropdown-item" (click)="getExpertVideos('recent')">Most Recent</a>
                     </div>
                  </div>
                  <h6 class="font-bold-600 font-16">Expert Videos</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel [items]="ExpertVideos" [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let video of ExpertVideos">
                     <div class="video-card">
                        <div class="video-card-image" [innerHtml]="video.url"></div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="javascript:void(0)">{{video.title}}</a>
                           </div>
                           <div class="video-view pt-3">
                              Upvotes: {{video.up_vote}} &nbsp;&nbsp;&nbsp; Downvotes: {{video.down_vote}}
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
               <p *ngIf="ExpertVideos.length == 0">No Expert Videos found.</p>
            </div>
         </div>

         <hr class="mt-4 mb-4">

         <div class="row mt-4">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="getIntermediateVideos('vote')">Top Voted</a>
                        <a class="dropdown-item" (click)="getIntermediateVideos('hot')">Hottest</a>
                        <a class="dropdown-item" (click)="getIntermediateVideos('recent')">Most Recent</a>
                     </div>
                  </div>
                  <h6 class="font-bold-600 font-16">Intermediate Videos</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel [items]="IntermediateVideos" [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let video of IntermediateVideos">
                     <div class="video-card">
                        <div class="video-card-image" [innerHtml]="video.url"></div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="javascript:void(0)">{{video.title}}</a>
                           </div>
                           <div class="video-view pt-3">
                              Upvotes: {{video.up_vote}} &nbsp;&nbsp;&nbsp; Downvotes: {{video.down_vote}}
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
               <p *ngIf="IntermediateVideos.length == 0">No Intermediate Videos found.</p>
            </div>
         </div>

         <hr class="mt-4 mb-4">

         <div class="row mt-4">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="getBeginnerVideos('vote')">Top Voted</a>
                        <a class="dropdown-item" (click)="getBeginnerVideos('hot')">Hottest</a>
                        <a class="dropdown-item" (click)="getBeginnerVideos('recent')">Most Recent</a>
                     </div>
                  </div>
                  <h6 class="font-bold-600 font-16">Beginner Videos</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel [items]="BeginnerVideos" [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let video of BeginnerVideos">
                     <div class="video-card">
                        <div class="video-card-image" [innerHtml]="video.url"></div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="javascript:void(0)">{{video.title}}</a>
                           </div>
                           <div class="video-view pt-3">
                              Upvotes: {{video.up_vote}} &nbsp;&nbsp;&nbsp; Downvotes: {{video.down_vote}}
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
               <p *ngIf="BeginnerVideos.length == 0">No Beginner Videos found.</p>
            </div>
         </div>

         <hr class="mt-4 mb-4">

         <div class="row mt-4">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="getSNAFUVideos('vote')">Top Voted</a>
                        <a class="dropdown-item" (click)="getSNAFUVideos('recent')">Most Recent</a>
                     </div>
                  </div>
                  <h6 class="font-bold-600 font-16">SNAFU! Award</h6>
               </div>
            </div>
            <div class="col-md-12 pr-0">
               <owl-carousel [items]="SANFUVideos" [carouselClasses]="['owl-theme', 'sliding']" [options]="sliderOptions">
                  <div class="pr-4 item" *ngFor="let video of SANFUVideos">
                     <div class="video-card">
                        <div class="video-card-image" [innerHtml]="video.url"></div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="javascript:void(0)">{{video.title}}</a>
                           </div>
                           <div class="video-view pt-3">
                              Upvotes: {{video.up_vote}} &nbsp;&nbsp;&nbsp; Downvotes: {{video.down_vote}}
                           </div>
                        </div>
                     </div>
                  </div>
               </owl-carousel>
               <p *ngIf="SANFUVideos.length == 0">No SNAFU Videos found.</p>
            </div>
         </div>
       </div>

       <hr class="mt-4 mb-4">
       <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12">
               <div class="main-title">
                  <h6 class="font-bold-600 font-16">Upcoming Contests</h6>
               </div>
               <div class="row upcoming pb-5">
                  <div class="col-sm-4 col-md-3" style="padding-right: 0.7rem" *ngFor="let contest of UpcomingContests">
                     <div class="video-card">
                        <div class="video-card-body">
                           <div class="video-title pl-2">
                              <a href="javascript:void(0);">{{contest.name}}</a>
                           </div>
                           <div class="video-view">
                              {{contest.start_date_time | date: 'dd MMM'}} - {{contest.end_date_time | date: 'dd MMM'}}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <p *ngIf="UpcomingContests.length == 0">No Upcoming Contests found.</p>
                  </div>
               </div>
            </div>
         </div>
       </div>
    </div>
</div>
   